Repository acm-ucr/highlander-gloves-website, pull requests merged in 2024-11, with the labels that each got.

#116 Responsify the volunteer component photo
  src/components/home/VolunteerOpportunities.tsx
Labels: home, Ready for Review, Responsify

#105 Mmuustafa/increaselogosize
  src/components/Navigation.tsx
  src/components/about/AboutUs.tsx
Labels: general, Ready for Review

#104 added spacing to about page text
  src/components/about/AboutUs.tsx
Labels: about, Ready for Review

#84 Ae10u/what is fight team
  package-lock.json
  package.json
  src/components/fight-team/FightTeam.tsx
Labels: fight-team, Address Comments

#118 create 404 page
  src/app/not-found.tsx
  src/components/Footer.tsx
Labels: general, Ready for Review

#131 responsify footer to desktop
  src/components/Footer.tsx
Labels: general, Ready for Review, Responsify

#132 fixed footer hover bug
  src/components/Footer.tsx
Labels: bug, general, Ready for Review

#133 responsify waiver form for iPad and mobile
  src/app/waiver/page.tsx
  src/components/home/FormHeader.tsx
Labels: Ready for Review, form, Responsify

#136 created the volunteer form page
  eslint.config.mjs
  src/app/volunteer/page.tsx
Labels: help wanted, Ready for Review, form

#138 Responsified the About Us
  src/components/about/AboutUs.tsx
Labels: about, Ready for Review, Responsify

#137 Rzhou052/finish boards
  package-lock.json
  package.json
  public/board/line.svg
  src/app/board/page.tsx
  src/components/board/Board.tsx
  src/components/board/Boards.tsx
  tsconfig.json
Labels: board, Ready for Review

#142 Info fixes
  src/components/Footer.tsx
  src/components/home/GetStarted.tsx
  src/components/home/Times.tsx
  src/components/home/WhyVolunteer.tsx
Labels: general, Ready for Review

#135 fix volunteer opportunites component
  package-lock.json
  src/components/Photo.tsx
  src/components/home/VolunteerOpportunities.tsx
Labels: home, Ready for Review, Responsify

#143 changed a tag to Link, change font
  package-lock.json
  src/app/volunteer/page.tsx
Labels: form

#144 Responsified Events
  src/components/events/Event.tsx
Labels: Responsify

#129 Felix/calendar
  components.json
  package-lock.json
  package.json
  public/events/calendarbackground.webp
  src/app/globals.css
  src/app/layout.tsx
  src/components/events/caledar/Calendar.tsx
  src/components/ui/button.tsx
  src/components/ui/calendar.tsx
  src/lib/utils.ts
  tailwind.config.ts
Labels: events, Ready for Review

#139 FAQ Modal Functionality
  src/components/about/FAQ.tsx
  src/components/about/FAQs.tsx
  src/components/about/Modal.tsx
  src/data/Faq.js
Labels: about, Ready for Review

#164 responsify mobile socials
  src/components/home/Socials.tsx
Labels: home, Ready for Review, Responsify

#162 Added 2024, 2023 photos for fight team
  public/fight-team/2023/image 75.png
  public/fight-team/2023/image 76.png
  public/fight-team/2023/image 77.png
  public/fight-team/2024/image 10.png
  public/fight-team/2024/image 11.png
  public/fight-team/2024/image 12.png
  public/fight-team/2024/image 13.png
  public/fight-team/2024/image 14.png
  public/fight-team/2024/image 15.png
  public/fight-team/2024/image 16.png
  public/fight-team/2024/image 17.png
  public/fight-team/2024/image 18.png
  public/fight-team/2024/image 19.png
  public/fight-team/2024/image 20.png
  public/fight-team/2024/image 22.png
  public/fight-team/2024/image 23.png
  public/fight-team/2024/image 25.png
  public/fight-team/2024/image 26.png
  public/fight-team/2024/image 27.png
  public/fight-team/2024/image 28.png
  public/fight-team/2024/image 29.png
  public/fight-team/2024/image 30.png
  public/fight-team/2024/image 31.png
  public/fight-team/2024/image 32.png
  public/fight-team/2024/image 33.png
  public/fight-team/2024/image 34.png
  public/fight-team/2024/image 35.png
  public/fight-team/2024/image 5.png
  public/fight-team/2024/image 6.png
  public/fight-team/2024/image 7.png
  public/fight-team/2024/image 8.png
Labels: fight-team, Ready for Review

#168 Animated board component
  src/app/about/page.tsx
  src/app/news/page.tsx
  src/components/Photo.tsx
  src/components/Title.tsx
  src/components/board/Board.tsx
  src/components/board/Boards.tsx
  src/components/fight-team/FightTeam.tsx
  src/components/home/GetStarted.tsx
  src/components/home/VolunteerOpportunities.tsx
  src/data/BoardMembers.js
Labels: board, animate

#182 renamed the images
  public/fight-team/2023/image75.png
  public/fight-team/2023/image76.png
  public/fight-team/2023/image77.png
  public/fight-team/2024/image10.png
  public/fight-team/2024/image11.png
  public/fight-team/2024/image12.png
  public/fight-team/2024/image13.png
  public/fight-team/2024/image14.png
  public/fight-team/2024/image15.png
  public/fight-team/2024/image16.png
  public/fight-team/2024/image17.png
  public/fight-team/2024/image18.png
  public/fight-team/2024/image19.png
  public/fight-team/2024/image20.png
  public/fight-team/2024/image22.png
  public/fight-team/2024/image23.png
  public/fight-team/2024/image25.png
  public/fight-team/2024/image26.png
  public/fight-team/2024/image27.png
  public/fight-team/2024/image28.png
  public/fight-team/2024/image29.png
  public/fight-team/2024/image30.png
  public/fight-team/2024/image31.png
  public/fight-team/2024/image32.png
  public/fight-team/2024/image33.png
  public/fight-team/2024/image34.png
  public/fight-team/2024/image35.png
  public/fight-team/2024/image5.png
  public/fight-team/2024/image6.png
  public/fight-team/2024/image7.png
  public/fight-team/2024/image8.png
Labels: fight-team, Ready for Review

#184 Changed Favicon Icon
  src/app/favicon.ico
Labels: general

#186 responsify 404 page mobile
  src/app/not-found.tsx
  src/components/Button.tsx
Labels: Ready for Review, Responsify

#188 Fixed small info bits
  src/components/Footer.tsx
  src/data/Faq.js
Labels: general, about, Ready for Review

#197 Responsified Title Component
  src/app/about/page.tsx
  src/components/Title.tsx
Labels: Responsify

#195 Animate About Us/FAQ
  src/components/about/AboutUs.tsx
  src/components/about/FAQ.tsx
  src/components/about/FAQs.tsx
  src/data/Faq.js
Labels: Ready for Review, animate

#202 added title component to fight team page
  src/app/fight-team/page.tsx
Labels: fight-team, Ready for Review

#190 added links to socials when clicked
  package-lock.json
  src/components/home/Socials.tsx
Labels: home, Ready for Review
