Repository acm-ucr/highlander-gloves-website, pull requests merged in 2024-10, with the labels that each got.

#19 completed example component
  src/app/page.tsx
  src/components/Example.tsx
Labels: good first issue

#26 landing page banner
  public/home/landing.webp
  src/components/home/Landing.tsx
Labels: home, Ready for Review

#27 Felix/navigation
  package-lock.json
  package.json
  public/logo.webp
  src/components/Navigation.tsx
  src/data/Nav.js
Labels: general, Ready for Review

#24 added text and embedded video to about us page
  src/app/about/page.tsx
  src/components/about/AboutUs.tsx
Labels: about, Ready for Review

#23 Create button component
  package-lock.json
  src/components/Button.tsx
Labels: general, Address Comments

#38 overflow issue
  src/components/Navigation.tsx
Labels: bug, Ready for Review

#22 reverted get started files -- header component
  package-lock.json
  src/components/Header.tsx
  src/components/home/GetStarted.tsx
Labels: general, Ready for Review

#45 unlinked media component
  src/components/Navigation.tsx
  src/data/Nav.js
Labels: general, Ready for Review

#41 Created Board Component
  public/example.webp
  src/components/board/Board.tsx
Labels: board, Ready for Review

#47 added photo component
  public/home/getStarted.webp
  src/components/Photo.jsx
  src/components/Photo.tsx
Labels: general, Ready for Review

#49 add Times Component
  src/components/home/Times.jsx
  src/components/home/Times.tsx
  src/components/home/VolunteerOpportunities.tsx
Labels: home, Ready for Review

#51 Created Form Header
  src/app/page.tsx
  src/components/home/FormHeader.tsx
Labels: form

#54 Ae10u/faq
  src/app/about/page.tsx
  src/components/Example.tsx
  src/components/about/FAQ.tsx
Labels: about, Ready for Review

#50 fixed get started section less padding
  public/home/USIBA-getStarted.webp
  public/home/getStarted.webp
  src/components/Button.tsx
  src/components/Photo.tsx
  src/components/home/GetStarted.tsx
Labels: home, Ready for Review

#42 FAQ Modal Component
  package-lock.json
  src/components/about/Modal.tsx
Labels: about, Ready for Review

#43 Create title component
  public/title/aboutUs.webp
  public/title/fightTeam.webp
  public/title/gallery.webp
  public/title/meetTheBoard.webp
  public/title/upcomingEvents.webp
  src/components/Title.tsx
Labels: general, Address Comments

#74 added volunteer opportunities component, edited times and photo component, added image
  public/home/volunteerOpportunities.webp
  src/components/Photo.tsx
  src/components/home/Times.tsx
  src/components/home/VolunteerOpportunities.tsx
Labels: home, Ready for Review

#55 created subheader component
  src/components/SubHeader.tsx
Labels: general, Ready for Review

#76 responsified get started
  src/components/Header.tsx
  src/components/home/GetStarted.tsx
Labels: Ready for Review, Responsify

#79 Changed props for Board Component
  src/components/board/Board.tsx
Labels: board

#81 dropdown color fix
  src/components/Navigation.tsx
Labels: general, Ready for Review, animate

#82 mobile menu
  src/components/Navigation.tsx
Labels: Ready for Review, Responsify

#77 completed news page
  public/home/getStarted.webp
  public/home/volunteerOpportunities.webp
  public/news/NewsCorey.webp
  public/news/NewsMcCreary.webp
  public/news/NewsPerez.webp
  src/app/news/page.tsx
Labels: news, Ready for Review

#85 Added Event Component
  src/components/events/Event.tsx
  src/components/events/Events.tsx
Labels: Ready for Review

#87 decrease the space between
  src/components/home/WhyVolunteer.tsx
Labels: home, Ready for Review

#88 animated signup button
  src/components/Button.tsx
Labels: general, Ready for Review, animate

#80 Responsify Why Volunteer Component
  src/components/Header.tsx
  src/components/home/WhyVolunteer.tsx
Labels: home, Ready for Review, Responsify

#86 Add FAQs component
  package-lock.json
  src/components/about/FAQ.tsx
  src/components/about/FAQs.tsx
  src/data/Faq.js
Labels: Address Comments

#83 Finished Boards component
  public/board/alejandro.webp
  public/board/alexandria.webp
  public/board/elizabeth.webp
  public/board/gus.webp
  public/board/hai.webp
  public/board/hesleer.webp
  public/board/ivan.webp
  public/board/jonathan.webp
  public/board/nathan.webp
  public/board/rian.webp
  public/board/richard.webp
  public/board/ulises.webp
  src/components/board/Board.tsx
  src/components/board/Boards.tsx
  src/data/BoardMembers.js
Labels: board, Ready for Review

#110 Animated footer component
  src/components/Footer.tsx
Labels: home, Ready for Review, animate

#109 Responsify Volunteer Opportunities Component
  src/components/home/Times.tsx
  src/components/home/VolunteerOpportunities.tsx
Labels: home, Responsify

#106 responsified news page
  src/app/news/page.tsx
Labels: news, Ready for Review, Responsify

#108 footer responsiveness mobile
  src/components/Footer.tsx
  tailwind.config.ts
Labels: general, Responsify

#112 Responsify Landing Component
  package-lock.json
  src/components/home/Landing.tsx
Labels: home, Ready for Review, Responsify

#114 Responsified FAQs section
  src/components/about/FAQ.tsx
  src/components/about/FAQs.tsx
Labels: about, Ready for Review, Responsify

#113 Why Volunteer Component Responsify Correction
  src/components/home/WhyVolunteer.tsx
Labels: home, Ready for Review, Responsify
