Repository acm-ucr/highlander-gloves-website, pull requests merged in 2024-12, with the labels that each got.

#217 responsified volunteer form
  src/app/volunteer/page.tsx
Labels: Ready for Review, form, Responsify

#216 added animation to FAQ section
  src/components/about/FAQ.tsx
Labels: about, Ready for Review, animate

#215 Mmuustafa/final board title
  package-lock.json
  src/app/board/page.tsx
Labels: board, Ready for Review

#218 Felix/calendarapi
  src/app/events/page.tsx
  src/components/events/EventHeaders.tsx
  src/components/events/EventsRender.tsx
  src/components/events/caledar/Calendar.tsx
  src/components/ui/calendar.tsx
Labels: bug, events, Responsify

#227 cursor pointer on hover
  src/components/about/FAQ.tsx
Labels: about, Ready for Review

#226 About Us Framer Motion Animation
  package-lock.json
  package.json
  src/components/about/AboutUs.tsx
Labels: about, Ready for Review, animate

#225 Fix Footer Spacing Mobile
  src/components/Footer.tsx
Labels: general, Ready for Review, Responsify

#224 Animated Events component
  src/components/events/EventHeaders.tsx
Labels: events, Ready for Review, animate

#223 responsify modal mobile
  src/components/about/Modal.tsx
Labels: about, Responsify

#222 Animated components of home page
  src/components/home/GetStarted.tsx
  src/components/home/Times.tsx
  src/components/home/VolunteerOpportunities.tsx
  src/components/home/WhyVolunteer.tsx
Labels: home, Ready for Review, animate

#221 Added animation to the fight team component
  src/components/fight-team/FightTeam.tsx
Labels: fight-team, animate

#232 Animate events component
  src/app/events/page.tsx
  src/components/events/Event.tsx
  src/components/events/Events.tsx
Labels: Address Comments

#233 Felix/u ichanges
  CNAME
  src/app/globals.css
  src/components/events/caledar/Calendar.tsx
  src/components/ui/button.tsx
  src/components/ui/calendar.tsx
Labels: bug, events
